.container {
  background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

textarea {
background: transparent;
border: none;
resize: none;
width: 100%;
height: 35vh;
padding: 0;
color: red;
font-size: 55px;
}

textarea:focus {
  outline: none;
}

.bg-container {
  display: flex;

}

.earth {
    background-image: url('./images/earth.jpg')
  }

  .cliff {
    background-image: url('./images/cliff.jpg')
  }

.canyon {
  background-image: url('./images/canyon.jpg');
}

.well {
  background-image: url('./images/well.jpg');
}

.lake {
  background-image: url('./images/lake.jpg')
}